// VARIABLES

// COLOR
$white: white;
$blackheader: #101010;
$lightgrey: #e6e6e6;
$grey: grey;
$blue: #009cff;

// COMMON VARIABLES
$cont60: 60%;
$marg0auto: 0 auto;
$cursorp: pointer;
$fontWeig400: 400;