// VARIABLES

// COLOR
$white: white;
$black: #101010;
$lightblack: #222222;
$lightgrey: #e6e6e6;
$greyfooterlist:#333;
$grey: grey;
$blue: #009cff;
$lightblue: #009cff;
$instagram : linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);

// COMMON VARIABLES
$cont60: 60%;
$marg0auto: 0 auto;
$cursorp: pointer;
$fontWeig400: 400;